nav.navbar, .navbar-default {
  background-color: #2892D7 !important;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
ghgholor: transparent;
}
